.download{
    display: flex;
    float: right;
}

.bouton{
    margin-right: 1rem;
}

.page{
    position: relative;
    min-height: 83vh;
}


.footer {
    position: absolute;
    bottom: auto;
}


.navbar .dropdown-menu-right { 
    right: 0; 
    left: auto; 
}