include ../header.pug
div(class="container page create")
    div(class="progress mt-3 mb-2")
        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>

    h2 Etape 5 : La création du QCM est à présent terminée.
    p Vous pouvez télécharger les questionnaires ci-dessous.

    div(class="download")
        a(href="/create/downloadresult" class="bouton")
            button(class="btn btn-success float-end me-2") Télécharger le fichier d'examen
        a(href="/create/downloadcorrection" class="bouton")
            button(class="btn btn-success float-end") Télécharger le fichier de correction

include ../footer.pug