include ../header.pug

div(class="container page create")
    div(class="progress mt-3 mb-2")
        <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
    
    h2 Etape 1 : Importer les étudiants

    form(action="/create/sendList" method="POST" enctype="multipart/form-data")
        div(class="row mt-3")
            div(class="col-12")
                label(for="fileForm" class="form-label") Veuillez entrer le fichier Excel avec la liste des étudiants.

            div(class="col-12")
                input(class="form-control" id="fileForm" type="file" accept=".xlsx" name="studentList" required)
        
        div(class="row mt-3")
            div(class="col-12 col-md-8")
                    label(for="fileForm" class="form-label") Veuillez entrer un nombre de copies supplémentaires pour l'examen.
                        button(type="button" class='btn' data-toggle="tooltip" data-placement="bottom" title="Le nombre de copies supplémentaires vous permet de créer des copies non nominatives. Cette option est utile lorsque votre liste d'étudiants est encore incomplète. Les étudiants recevant ce type de copies devront eux-même indiquer leurs informations personnelles (Nom, Prénom, Matricule).")
                            i(class="fa fa-question-circle" style="font-size:20px;")

            div(class="col-12 col-md-4")
                input(class="form-control" id="extraCopies" type="number" name="extraCopies" min=0 value=5)
        
        if messages.errormsg
            div(class="alert alert-danger mt-2" role="alert")= messages.errormsg

        div(class="my-3 float-end")
            input(class="btn btn-warning" type="submit", value="Soumettre et continuer")


include ../footer.pug
