include header.pug

div(class="container page")
    h2 Comparateur de reponses

    div(class="row mt-3") 
        div(class="col-6")
            //- embed(src=`/see/exam/78c170ae-8a10-4b1c-9d7f-d3e038141e68/downloadcorrection` width="500" height="375" type="application/pdf")
            p left
        div(class="col-6")
            p right

include footer.pug
