include header.pug

div(class="container page create")
    div(class="progress mt-3 mb-2")
        <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>

    h2 Etape 4 : Entrer les critères de correction 
    
    include cotationTable.pug



include footer.pug

script(src='/javascript/correction.js')
