footer(class="footer bg-light py-4 w-100")
    div(class="container") 
        <span class="text-muted">© Copyright 2021 KorreKtor</span>
        div(class='text-muted float-end') This project is open-source, see code on 
            a(href="https://github.com/ThomasVandermeersch/KorreKthor" target="_blank")
                img(src="img/github.png" width="25")

