<nav class="navbar navbar-dark bg-dark">
    div(class="container")
        span(class="navbar-brand mb-0 h1" onclick="redirect()")  KorreKtor
</nav>

link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")

style
    include ../public/styles/style.css

script. 
    function redirect(){
        window.location.href = "/"
    }