include header.pug 

div(class="container page create")

    h2(class="mb-3") Modifier les questions de #[strong #{exam.name}]

    form(action="/correction/modifyQuestionStatus/"+exam.id, method="POST" , class="form-inline")
        input(type="hidden" name="questionStatusObject" value=questionStatus)

        each question, versionID in questionStatus
            h3= 'Version ' +  versionID
            table(class="table table-sm tableClass mt-0 p-0")
                thead
                    tr
                        td 
                            b Question 
                        td 
                            b Status
                each criteria, index in question
                    tr
                        td= 'Question ' + (index+1)
                        td
                            if criteria=='normal'            
                                select(class="form-select", id="correctionType" name='type')
                                    option(value="normal" name='normal') Normal
                                    option(value="cancelled" name='cancelled') Cancelled
                                                if criteria=='normal'            
                            else
                                select(class="form-select", id="correctionType" name='type')
                                    option(value="cancelled" name='cancelled') Cancelled
                                    option(value="normal" name='normal') Normal
        div(class="row my-4")
                div(class="col-12")
                    input(class="btn btn-warning float-end" type="submit", value="Enregistrer et confirmer")

include footer.pug