h1 Création du QCM

h2 Etape 1 : Importer les eleves
p Veuillez entrer le fichier Excel avec la liste d'élèves.

form(action="/sendList" method="POST" enctype="multipart/form-data")
    input(id="fileForm" type="file" name="studentList")
    input(type="submit", value="Submit file")