include ../header.pug

div(class="container page create")
    h2 Modification des critères de correction
    
    include ../cotationTable.pug

include ../footer.pug

script(src='/javascript/correction.js')
