include ../header.pug 

div(class="container w-50 page")
    br
    br
    h1() Oups, aucun résultat ne correspond à votre requête.
    
    if messages.errormsg
        div(class="alert alert-danger mt-2" role="alert")= messages.errormsg    

include ../footer.pug