include ../header.pug

div(class="container w-60 page")
    h1= 'Bonjour ' + session.userObject.fullName
    br
    br
    br
    center
        h2 !!! Nouvelle fonctionnalité disponnible !!!

        p Il est désormais possible d'entrer les réponses aux questions directement à partir d'un fichier Excel !
        a(href="/correction/tutorial" target="_blank")
            p Cliquez pour plus d'informations !     


    //- br
    //- h2 Tutoriels
    //- ol

    //-     li Création d'un QCM 
    //-     br      
    //-     center 
    //-         iframe(width="590" height="430" allowFullScreen src="https://www.youtube.com/embed/6foOI38oW10")
    //-     br
    //-     br

    //-     li Correction d'un QCM 
    //-     br
    //-     center
    //-         iframe(width="590" height="430" allowFullScreen src="https://www.youtube.com/embed/aUPqT1mtdQw")
    //-     br
    //-     br

    //-     li Visualisation d'une copie - étudiant
    //-     br
    //-     center
    //-         iframe(width="590" height="430" allowFullScreen src="https://www.youtube.com/embed/k0v1PA8TOX0")
    //-     br
    //-     br
     
include ../footer.pug