include ../header.pug

div(class="container w-60 page")

    h1= 'Bienvenue ' + session.userObject.fullName

    div(class="")
        a(class="btn btn-success mt-3" href="/files/User_manual.pdf") Télécharger le manuel d'utilisation
        

include ../footer.pug