include ../header.pug

div(class="container page")
    h1 Votre profil

    table(id=questID class="table tableClass mt-0 p-0")
        tr
            td Nom
            td= session.userObject.fullName 

        tr
            td Matricule 
            td= session.userObject.matricule 
        
        tr
            td Email 
            td= session.userObject.email 
        tr
            td Rôle 
            if session.userObject.role == 0
                td Etudiant
            else 
                td Professeur

        tr
            td Privilège 
            if session.userObject.authorizations == 0
                td Admin + Create
            else if  session.userObject.authorizations == 1
                td Create
            else if session.userObject.authorizations == 2
                td Admin
            else 
                td Aucun

                                    
include ../footer.pug
